body {
    margin: 0; 
    background-color: rgb(2, 28, 39);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(57, 130, 139);
    color: rgb(8, 8, 8);
    border-radius: 1vw;
}
.header h1 {
    font-size: 50px; 
    flex: 1;
    text-align: center;
    margin: 0;
}
.titulo2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    color: rgb(247, 244, 244);
}
.header .icono {
    margin: 20px;
}
.menu {
    font-size: 30px;
    margin-right: 20px;
}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container {
    box-shadow: #000 2px 4px 8px;
    display: flex;
    background-color: rgb(34, 33, 33);
    width: 400px;
    margin-top: 10px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.input_email {
    padding: auto;
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 0px;
    border: none;
    font-size: 20px;
    box-shadow: #000 2px 2px 5px;
}
.input_login {
    padding: auto;
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    box-shadow: #000 2px 2px 5px;
}
.btn_login {
    display:flex;    
    justify-content: center;
    color: black;
    padding: 10px 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
    box-shadow: #000 2px 2px 5px;
    background-color: gray;
}
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.olvidaste {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: black; 
    text-decoration: none;
    
}
.btn_registrarse {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-shadow: #000 2px 2px 5px;
    background-color: rgb(39, 227, 252);
    cursor: pointer;
}
.author {
    font-size: large;
    color: rgb(3, 3, 3);
}
.headerdashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(57, 130, 139);
    color: rgb(14, 13, 13);
}
.buscar{
border-radius: 10px;
border: none;
height: 40px;
width: 200px;
}
.search-form {
display: flex;
align-items: center;
background-color: white;
border-radius: 1vw;
padding: 8px 15px;
border: none;
width: 20vw;
box-shadow: #000 0 2px 5px;
font-size: 20px;
}
.search-form input {
margin-left: 1vw;
font-size: 20px;
}
.tarjeta {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    box-shadow: 2px 4px 8px rgb(10, 10, 10);
}
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.dash {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
}
.seccion-principal {
    display: flex;
}
.contenedor-derecho {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.headerdashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: #000 2px 2px 5px;
    position: relative;
}
.nav {
    width: 18vw;
    background-color: rgb(16, 185, 197);
    color: #000;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #050000;
    box-shadow: #000 2px 4px 8px;
}
.nav li:hover {
    background-color: rgb(15, 62, 216);
    list-style: none;
    padding: 0;
}
.nav ul {
    list-style: none;
    padding: 0;
}
.nav li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #333;
}
.buscar {
    font-size: 16px;
}
.formulario-crear {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: auto;
}
.formulario {
    background-color: rgba(13, 141, 150, 0.712);
    border-radius: 10px;
    padding: 20px;
    box-shadow: #000 2px 4px 8px;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
}
.nombre-producto, .categoría, .precio, .descripcion, .cantidad, .nombre, .telefono, .correo, .contraseña, .confirmar-contraseña, .edad {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 15px;
}
.formulario-crear input{
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-size: 20px;
    box-shadow: #000 2px 2px 5px;
}
.botones-form {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: #000 2px 2px 5px;
    margin-bottom: 15px;
}
.aceptar {
    background-color: rgb(1, 247, 42);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.cancelar {
    background-color: red;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.acciones {
    display: flex;
    gap: 10px;
}
.btn-put {
    background-color: rgb(1, 247, 95);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.btn-delete {
    background-color: rgb(248, 14, 14);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: sans-serif;
}
.titulo2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
thead tr {
    background-color: rgb(15, 62, 216);
    color: #080808;
    text-align: left;
    font-weight: bold;
}
th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #000;
}
tbody tr:hover {
    background-color: rgb(15, 62, 216);
}
table img {
    border-radius: 8px;
    object-fit: cover;
}
.btn-put, .btn-delete {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
}
.cerrar {
    background-color: rgb(248, 14, 14);
    color: rgb(10, 10, 10);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 1vw;
    margin-top: 4vh;
}
img {
    border-radius: 1vw;
}




